<!-- 充值专区 -->
<head-title ng-hide="hidePage" show-backbtn="true" go-back="goBack()" app-title="流量行家"></head-title>
<div class="full-h oa">
    <form id="form" name="form" class="form oa" novalidate>
        <div class="mobile-input">
            <input type="tel"
                   ng-model="obj.mobile"
                   placeholder="请输入手机号码" required oninput="checkMobile(this,11)" ng-change="getInitInfo()" />
            <span class="carrier-label">{{obj.carrier}}</span>
            <span class="x-btn" ng-click="obj.mobile = '';obj.carrier = ''">X</span>
        </div>
        <!--流量项-->
        <div class="recharge-container">
            <div class="recharge-item" ng-repeat="item in obj.itemList">
                <input type="radio" id="{{'recharge-radio-p'+$index}}" name="recharge-radio-p" value="{{$index}}" ng-checked="{{!$index}}" ng-model="obj.model" ng-change="select(item)"/>
                <label for="{{'recharge-radio-p'+$index}}" class="options"></label>
                <div ng-bind="item[0].face"></div>
                <div ng-bind="item[0].price | RMBPrefix"></div>
            </div>
        </div>
        <div ng-repeat="o in obj.selectedItem" class="recharge-btn-container">
            <div class="recharge-btn-container-left">
                <span class="recharge-amt">{{o.price}}元</span><i>{{o.type == 1?'本地':'全国'}}</i>
                <div class="recharge-desc">{{o.simpleDesc}}，<span style="color: #ff0000;">平台送3元流量券</span></div>
            </div>
            <button class="btn btn-recharge" ng-click="recharge(o.type)">
                购买
            </button>
        </div>
    </form>
    <div style="display:flex;display: -webkit-flex;justify-content: center;align-items: flex-start;height: 40px;">
        <!--<a ui-sref="rechargeList" class="href">充值记录</a>-->
        <a ui-sref="tips" class="href">温馨提示</a>
        &nbsp;|&nbsp;<a ui-sref="question" class="href">常见问题</a>
    </div>
</div>

