<!--温馨提示-->
<head-title show-backbtn="true" go-back="goBack()" app-title="温馨提示"></head-title>
<div class="detail">
    <p>1. 请务必输入正确的手机号码，由于输入错误导致充值不成功，不在平台承担责任范围之内。本页面所订购的流量，不能抵扣手机已产生的超额部分的流量。</p>

    <p>2. 支持用户：移动2G/3G/4G用户，联通3G/4G用户，移动电信2G/3G/4G用户
        流量类型：充值流量为全国流量，支持全国漫游，当月有效，过期失效。注：省内（流量红包）是本省内流量。注：（欠费停机、名下存在欠费产品的用户、被列为运营商黑名单用户、未办理实名认证、实名资料未返档用户、携号转网用户、170号段虚拟运营商用户、时长计费用户以及其他运营商规则限制的用户均无法成功充值流量。）
    </p>

    <p>3. 到账时间：1-30分钟内到账，到账即时生效，如遇运营商系统繁忙则48小时内生效。根据运营商规则，移动月末两天无法办理流量充值业务，移动月末所充值订单于次月1号到账。</p>

    <p>4. 使用有效期：当月有效，有效期为充值当日至当月底。</p>

    <p>5. 充值次数：每日限充10次。</p>

    <p>6. 查询方式：短信查询、网上营业厅查询、拨打运营商客服电话查询。运营商客服（移动10086、联通10010、电信10000）。广东省内流量可发送“cxll”到10086查询。</p>

    <p class="red">7. 温馨提示：欠费、停机、黑名单、销号、套餐/品牌变更期间均不能充值。</p>

    <p class="red">8. 关于退款：如流量包充值失败，则在1-2个工作日内自动退款到用户微信钱包零钱中。</p>

    <p class="blue">9. 客服电话：13510686778</p>
</div>