<head-title show-backbtn="true" go-back="goBack()" app-title="常见问题"></head-title>
<div class="detail">
    <h4>1. 为什么我在充值的时候，提示我“该号码不可充流量”？</h4>

    <p>根据相关规定，对于部分如非3G号码/欠费/非实名制/运营商黑名单用户，暂时不能使用流量充值服务。对于实名制等业务的办理方法，建议联系归属地运营商。</p>
    <h4>2. 为什么我充值后，使用流量还被运营商扣了额外的费用？</h4>

    <p>
        充值完成后，第三方中间服务商可能因为网络原因没有及时将充值电子订单发送至运营商，运营商对您的充值情况不知情。运营商会在收到第三方服务方订单后为您充值，并在成功后为您发送到账短信。请确保您在收到到账短信后再使用流量，以防出现流量包之外的费用。出现流量不到账的时候，建议您先参考信息5，确认您的订单情况。</p>
    <h4>3. 充值的流量可以漫游么？</h4>

    <p>充值时请关注页面提示，如果显示“全国可用”表示可以全国漫游。</p>
    <h4>4. 充值的流量有效期是多长？</h4>

    <p>大部分省份运营商充值流量当月有效，月底失效，部分面额30天内有效及三个月有效，灵活账期用户月结日失效。请以短信通知及在运营商处查询的信息为准。</p>
    <h4>5. 我充值后怎么查看是否到账？</h4>

    <p>短信查询、网上营业厅查询、拨打运营商客服电话查询。运营商客服（移动10086、联通10010、电信10000）。广东省内流量可发送“cxll”到10086查询。</p>
    <h4>6. 流量充错号码怎么办？</h4>

    <p>非常抱歉，充错号码后运营商（移动、联通、电信）是不会办理退款的。 由于充值成功后，交易就已经完成，运营商不会将已经充上的流量退还给供货商，所以我们也无法给您办理退款。您可以选择如下几种方式尝试弥补损失：
        1、联系实际充值的号码机主，与对方协商是否愿意为此补偿您的流量； 2、联系运营商客服（移动10086、联通10010、电信10000），咨询是否能够退还已经充值成功的流量；
        给您带来的不便，尽请谅解！并希望您在下次操作的时候注意核对号码是否正确，谢谢您的支持！</p>
    <h4>7. 充值失败后，为什么我没有收到退款？</h4>

    <p>通常情况下，充值失败时我们会立即为您办理退款，如果您使用银行卡或者零钱支付，退款会立即退回微信钱包。信用卡退款时间可能会较长，您可以直接致电银行或登录网银查看退款情况。</p>
    <h4>8. 为什么我的号码一直充值失败？</h4>

    <p>由于联通存在每个面额每个月充值5次的限制，充值超过5次（不限微信平台）将会出现失败退款。建议您充值其他面额的流量。另外，号码欠费、套餐互斥、非实名认证、运营商黑名单等原因也会导致充值失败退款。</p>
    <h4>9. 充值流量后能取消吗？</h4>

    <p>不可以。流量充值接近实时交易，支付完成后，交易系统会在数秒中向运营商发起充值请求并且充值到账。充值中的订单也会锁定，无法进行资金回退交易。您需要在充值前确定需要充值流量。</p>
</div>

