
.header{
  @extend .box;
  position: fixed;z-index: 900;top:0;left:0;width: 100%;line-height: $headerHeight;
  -webkit-box-pack: justify;
  background:$mobileRecharge;
  //border: $headerBottomBorder solid #e4e4e4;
  >span{display: block;padding: 0 $leftSpace;min-width: 56px;}
  h1{font-size: 1.7rem;color:#fff;font-weight: 500; }
  @at-root .btn-prev{font-size: 2.8rem;color: #fff;}
  @at-root .btn-next{font-size: 1.5rem;font-weight: 500;}
  @at-root .hide-header{margin-top: -$headerHeight!important;}
  @at-root .has-header{padding-top: $headerHeight;}
}

