@media screen and (max-width:362px)and(min-width: 330px){
    html{font-size: 60%;}
}

@media screen and (max-width:330px){
    html{font-size: 62.5*(320/375)*1%;}

}

@media screen and (max-width:320px){
    .input-label {
        @include input-label(70px);
    }
}

@media screen and (min-width:376px){
    .trade-merch {
        width: 75%;
    }
}