.toast{
  position: fixed;
  width: 80%;
  top:50%;
  left:10%;
  z-index: 999;
  min-height: 34px;
  line-height: 24px;
  margin-top: -17px;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  background-color: #000;
  transition: tranform 400ms ease-in,opacity 300ms ease-in;
}

/* All styles below are for the default template. */
.cg-busy-mask {
  //background-color: rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
}
.cg-busy-default-wrapper {
  z-index:99;
}

.cg-busy-default-sign{
  position:relative;
  z-index:1002;
}

.cg-busy-default-spinner{
  width:40px;
  height:40px;
  //background-color: rgba(43,42,42,1);
  //color: #fff;
  //padding: 10px;
  border-radius:5px;
  text-align:center;
  position: fixed;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mask-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: 99;
}