.toast{
  position: fixed;
  width: 80%;
  top:50%;
  left:10%;
  z-index: 999;
  min-height: 34px;
  line-height: 24px;
  margin-top: -17px;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  background-color: #000;
  transition: tranform 400ms ease-in,opacity 300ms ease-in;
}


@mixin article-page {
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;

  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  -webkit-box-orient:vertical;
}
/*  弹出的带遮罩层的 半页面  */
.pop {
  @include article-page;
  background:rgba(0,0,0,.5);
  @at-root .bb_body2 {
    background:#fff;
    width: 90%;
    padding: 20px 20px 0;
    margin: auto;
    >p{
      margin-bottom: 10px;
    }
    @at-root .bb_buttons2 {
      @extend .tc;
      color: #2390ed;
      line-height: 44px;
      border-top: 1px solid #edeef0;
      font-size: 1.4rem;
    }

  }
}
/*  滑进滑出的 全页面 */
.slide {
  @include article-page;
  background: #fff;
}

/* All styles below are for the default template. */
.cg-busy-mask {
  //background-color: rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
}
.cg-busy-default-wrapper {
  z-index:99;
}

.cg-busy-default-sign{
  position:relative;
  z-index:1002;
}

.cg-busy-default-spinner{
  width:40px;
  height:40px;
  //background-color: rgba(43,42,42,1);
  //color: #fff;
  //padding: 10px;
  @include border-radius(5px);
  text-align:center;
  position: fixed;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.list-pop{
  position: absolute;
  //top:50%;
  right: 0;
  bottom: 0;
  left:0;
  height:252px;
  background: #fafafa;
  @at-root .list-header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    @extend .box;
    line-height: 50px;
    border-bottom: 1px solid #edeef0;
    padding:0 25px;
    >div{min-width: 60px;}
    .active{color: #444;}
  }
  @at-root .sle-item{
    position: absolute;
    height: 40px;
    width: 100%;
    top:131px;
    left: 0;
    background: $bgDefault;
    border: 1px solid;
    border-color: #dee1e5 transparent;
  }
  @at-root .list-body{
    @extend .box;
    padding-top: 50px;

    @at-root .item-sc{
      line-height: 40px;
      color: #666;
    }
    .active{color: #333;}
    .flex1{
      border-right: 1px solid #edeef0;
      &:last-of-type{border: none;}
    }
    &::-webkit-scrollbar-track-piece{
      background-color:#fff;
      -webkit-border-radius:0;
    }
    &::-webkit-scrollbar{
      width:1px;
      height:8px;
    }
    &::-webkit-scrollbar-thumb{
      height:50px;
      background:none;
      outline:none;
      border: none;
    }
    &::-webkit-scrollbar-thumb:hover{
      height:50px;
      background-color:transparent;
      -webkit-border-radius:4px;
    }

  }
}

.mask-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: 99;
}