.mobile-input {
  position: relative;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ececec;
  input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 8% 6% 1%;
    font-size: 24px;
    color: #000;
  }
  .carrier-label {
    text-align: left;
    color: #999;
    padding: 0 6%;
    line-height: 24px;
  }
  .x-btn {
    position: absolute;
    right: 15px;
    top: 28px;
    background: #ccc;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    color: #fff;
    line-height: 22px;
  }
}

::-webkit-input-placeholder {
  font-size: 14px;
}

.mobile-detail {
  height: 50px;
  line-height: 50px;
  padding: 0 20px 0 20px;
  text-align: center;
  a {
    float: right;
  }
  i{
    display: none;
  }
  .tab-options {
    width: 50%;
    height: 50px;
    position: absolute;
  }
  input[type="radio"] {
    display: inline-block;
    margin-right: 15px ;
    opacity: 0;
  }
  input[type="radio"]:checked ~ span {
    color: $mobileRecharge;
  }
  input[type="radio"]:checked ~ i {
    display: inline-block;
  }

}

.tab-container {
  @include display-flex;
  @include flex-direction(row);
  border-top:1px solid #ececec;
  .mobile-detail {
    @include flex(1);
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
  }
  .divider{
    border-right: 1px solid #ececec;
    margin: 10px 0;
  }
}

.cross-icon {
  display: inline-block;
  position: relative;
}
.cross-icon:after {
  position: absolute;
  content:'';
  display: inline-block;
  width: 6px;
  height: 6px;
  top: -18px;
  border-right: 1px solid $mobileRecharge;
  border-bottom: 1px solid $mobileRecharge;
}
.icon-minus-down.cross-icon:after {
  @include transform(rotate(45deg));
}

.recharge-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 92%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  .recharge-item{
    width: 28%;
    height: 60px;
    margin: 2.6%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    & div:first-of-type{
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    div{
      line-height: 20px;
    }
    .options {
      width: 100%;
      height: 100%;
      border: 1px solid #ccc;
      border-radius: 4px;
      position: absolute;
    }
    input[type="radio"] {
      display: inline-block;
      margin-right: 15px ;
      opacity: 0;
    }
    input[type="radio"]:checked + .options {
      border: 1px solid $mobileRecharge;
    }
    input[type="radio"]:checked ~ div {
      color: $mobileRecharge;
    }
  }
}

.recharge-btn-container{
  @include display-flex;
  @include flex-direction(row);
  @include align-items(center);
  border-top: 1px solid #ececec;
  padding: 15px;
  .recharge-btn-container-left{
    @include flex(1);
    i{
      background-color: $mobileRecharge;
      color: #ffffff;
      padding: 2px 4px;
      font-size: 10px;
      margin-left: 5px;
      @include border-radius(2px);
    }
    .recharge-amt{
      font-size: 20px;
      color: #000;
      position: relative;
      top:2px;
    }
    .recharge-desc{
      line-height: 20px;
    }
  }
}


.btn-recharge {
  width: 60px;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 2px;
  color: $mobileRecharge;
  @include border-radius(4px);
  border:1px solid $mobileRecharge;
  background-color: #fff;
  &:disabled {
    opacity: .4;
  }
  &:active {
    border:1px solid rgba(0,152,0,.6);
    color: rgba(0,152,0,.6);
  }
}

.footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 10px;
}

.href {
  color: #399ff5;
  &:active {
    color: rgba(57, 159, 245, .6);
  }
}

.detail{
  margin: 10px;
  h4{
    color: $emphasis;
    font-weight: 600;
    padding: 5px;
  }
  p{
    padding: 5px;
  }
  .red{
    color: #FF3635;
  }
  .blue{
    color:#399ff5;
  }
}

.list-item{
  border-bottom: 1px solid #eee;
  padding: 5px 10px 5px 10px;
  div{
    padding: 2px;
  }
  .blue{
    color:#399ff5;
  }
}

.net-error {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);
  height: 100%;
  img {
    width: 80px;
  }
  h5 {
    margin-bottom: 100px;
  }
}

