$headerBottomBorder:1px;
$headerHeight:45px -$headerBottomBorder;

$leftSpace:10px;
$moneyHeaderBg:#288efc;
$bg:#f2f3f8;
$bgDefault:#fff;
$bgDark:#f2f3f6;
$successColor:#5cc1c9;
$ingColor:#51be78;
$grayColor:#999999;
$failureColor:#d14a4c;
$warnColor:#ea3636;
$sbDesignerBlue:#2390ed;   //蓝色主题色  button等
$contentRed:#ff6c6a;
$contentRedActive:#ff5c5a;
$contentYellow:#ffd842;
$contentYellowActive:#fef256;
$emphasis:#2b2a2a;


$fcLeft: #686e73;   //灰色主题文字颜色
$fcInput: #333;
$fcPrompt: #ccc;
$fcDivider: #5e6c77;
$bgcDivider: #e1e4e6;   // #f2f6fa;

$contentRed1: #F5573B;
$expressRed:#ff6b7c;//速运红

$borderColor: #f5f5f5;

$mobileRecharge:#009800;//手机充值主色调
