$headerBottomBorder:1px;
$headerHeight:45px -$headerBottomBorder;

$leftSpace:10px;

$bg:#f2f3f8;
$bgDefault:#fff;
$bgDark:#f2f3f6;

$ingColor:#51be78;
$grayColor:#999999;
$failureColor:#d14a4c;
$warnColor:#ea3636;
$sbDesignerBlue:#2390ed;   //蓝色主题色  button等
$contentRed:#ff6c6a;
$contentRedActive:#ff5c5a;

$emphasis:#2b2a2a;

$borderColor: #f5f5f5;

$mobileRecharge:#009800;//手机充值主色调
